*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: bisque;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: bisque;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(20, 26, 28, .2);
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(20, 26, 28, .2);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: bisque; 
    font-weight: 700;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background:  rgb(20, 26, 28, .2);
    color: blanchedalmond;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background: url(cloudsbk.png) no-repeat;
    background-size: cover;
    background-position: center;
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgb(20, 26, 28);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: rgb(9, 65, 83);
}

.blog-heading h3{
    font-size: 2.4rem;
    color: rgb(5, 37, 58);
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: beige;
    border: 1px dotted rgb(9, 65, 83);
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: rgb(27, 55, 93);
    font-size: 0.9rem;

}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(3, 59, 111);
}

.blog-text .blog-title:hover{
    color: rgb(129, 95, 54);
    transition: all ease 0.3s;
    cursor: pointer;
}

.blog-text p{
    color: rgba(84, 96, 106, 0.969);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: rgba(36, 42, 47, 0.969);
}

.blog-text a:hover{
    color: rgba(71, 81, 89, 0.969);
    transition: all ease 0.3s;
    cursor: pointer;
}

@media(max-width:1250px){
    .blog-box{
        width:300px;

    }
}

@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}

@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}